<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main-styles.css" asp-append-version="true" />
    @RenderSection("CssStyles", required: false)
</head>
<body>
    <div id="container" class="row d-flex flex-column justify-content-between">
        <header class="bg-dark text-primary">
            <h1>@ViewData["Title"]</h1>
        </header>
        @RenderBody() 
        <footer class="bg-dark d-flex justify-content-center align-items-center">
            Dawid Dykmański
        </footer>
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
